<section id="about">
  <a href="/"><img class="close" src="../images/nonmanholes/close.png"></a>
  <h3>About</h3>
  <p id="about_text">I started to collect the images of manhole covers when I took Intermediate Graphic Design with Pamela Hovland at Yale about 2 years ago. For an assignmnet, in which each of the students is asked to collect a certain kind of object by taking pictures, and then design a book with the collection as the final project of the class. My choice of the object is manhole cover, and somehow I'm very hooked with the idea and never stop collection manhole covers. After about 2 years, I have a collection of about 700, from 5 countries and 12 cities. I decide it is about to make another graphic design project about them except that it is online this time.<br>
  &nbsp; &nbsp; &nbsp; &nbsp;So here they are. I will keep collecting and adding them to this collection.<br>
  &nbsp; &nbsp; &nbsp; &nbsp;Special thanks to <a id="laurel" class="link" href="http://laurelschwulst.com/">Laurel Schwulst</a>, my advisor for the project, and her friend <a id="jeffrey" class="link" href="http://rey.sc/">Jeffrey Scudder</a>, who offers a lot of technical help. I can&#39;t do this without them.</p>
</secton>
