<section id="edit_an_entry">

  <a href="/"><img class="close" src="../images/nonmanholes/close.png"></a>

  <h3 style="padding-bottom: 30px;">Found a New Manhole?</h3>

  <form method="POST" action="/">

    <label for="img">Image&nbsp;</label>
    <input type="text" name="img" id="img" />
    <br/><br/>

    <label for="country">Country&nbsp;</label>
    <input type="text" name="country" id="country" />
    <br/><br/>

    <label for="State_or_province">State/Province&nbsp;</label>
    <input type="text" name="State_or_province" id="State_or_province" />
    <br/><br/>

    <label for="city">City&nbsp;</label>
    <input type="text" name="city" id="city" />
    <br/><br/>

    <label for="year">Year&nbsp;</label>
    <input type="text" name="year" id="year" />
    <br/><br/>

    <label for="color">Color&nbsp;</label>
    <input type="text" name="color" id="color" />
    <br/><br/>

    <label for="shape">Shape&nbsp;</label>
    <input type="text" name="shape" id="shape" />
    <br/><br/>

    <label for="note">Note&nbsp;</label>
    <input type="text" name="note" id="note" />
    <br/><br/>

    <label for="tags">Tags&nbsp;</label>
    <input type="text" name="tags" id="tags" />
    <br/><br/>

    <input type="submit" value="submit" />

  </form>

</section>
