<section>
  <h3>Manhole Covers in <%= @country.capitalize %></h3>
  <% @certain_country_array.each_with_index do |manhole_entry| %>
    <%= render(:erb, :"manholecovers/_manholecover_list", :locals => {:manhole_entry => manhole_entry}) %>
  <% end %>
  <div class="clear"></div>
</section>

