<section>
  <h3>Manhole Covers with the "<%= @tagname %>" tag </h3>
  <% @with_tagname_array.each_with_index do |manhole_entry|%>
    <%= render(:erb, :"manholecovers/_manholecover_list", :locals => {:manhole_entry => manhole_entry}) %>
  <% end %>
  <div class="clear"></div>
</section>
